In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text

'<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don\'t have permission to access "http&#58;&#47;&#47;www&#46;ambitionbox&#46;com&#47;list&#45;of&#45;companies&#63;" on this server.<P>\nReference&#32;&#35;18&#46;8689d317&#46;1736266372&#46;904e5004\n<P>https&#58;&#47;&#47;errors&#46;edgesuite&#46;net&#47;18&#46;8689d317&#46;1736266372&#46;904e5004</P>\n</BODY>\n</HTML>\n'

In [3]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8',
    'Accept-Language': 'en-US,en;q=0.9',
    'Referer': 'https://www.google.com/'
}


url = 'https://books.toscrape.com/catalogue/page-1.html'

response = requests.get(url, headers=headers).text

In [4]:
soup= BeautifulSoup(response, 'lxml')

In [50]:
#print(soup.prettify()) -> prints the wholw html structure of the website

In [6]:
soup.find_all('h1')

In [7]:
soup.find_all('h1')[0].text

'All products'

In [8]:
soup.find_all('h3')[0].text

'A Light in the ...'

In [43]:
books = soup.find_all('article', class_='product_pod')

title = []
# Extract titles and ratings
for book in books:
    # Get the title
    title.append(book.h3.a['title'])  

title

['A Light in the Attic',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History of Humankind',
 'The Requiem Red',
 'The Dirty Little Secrets of Getting Your Dream Job',
 'The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
 'The Black Maria',
 'Starving Hearts (Triangular Trade Trilogy, #1)',
 "Shakespeare's Sonnets",
 'Set Me Free',
 "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
 'Rip it Up and Start Again',
 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
 'Olio',
 'Mesaerion: The Best Science Fiction Stories 1800-1849',
 'Libertarianism for Beginners',
 "It's Only the Himalayas"]

In [45]:
numeric_rating=[] 

rating_map = {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

for i in books:
    
    r_tag = i.find('p', class_='star-rating')
    rating = r_tag['class'][1]


    numeric_rating.append(rating_map[rating])

numeric_rating

[3, 1, 1, 4, 5, 1, 4, 3, 4, 1, 2, 4, 5, 5, 5, 3, 1, 1, 2, 2]

In [47]:
price = []

for i in books:

    p_tag= i.find('p', class_='price_color')
    price.append(p_tag.text.lstrip('Â'))

price

['£51.77',
 '£53.74',
 '£50.10',
 '£47.82',
 '£54.23',
 '£22.65',
 '£33.34',
 '£17.93',
 '£22.60',
 '£52.15',
 '£13.99',
 '£20.66',
 '£17.46',
 '£52.29',
 '£35.02',
 '£57.25',
 '£23.88',
 '£37.59',
 '£51.33',
 '£45.17']

In [60]:
d = {'title': title, 'rating(out of 5)': numeric_rating, 'price': price}

df = pd.DataFrame(d)

df

,title,rating(out of 5),price
0,A Light in the Attic,3,£51.77
1,Tipping the Velvet,1,£53.74
2,Soumission,1,£50.10
3,Sharp Objects,4,£47.82
4,Sapiens: A Brief History of Humankind,5,£54.23
5,The Requiem Red,1,£22.65
6,The Dirty Little Secrets of Getting Your Dream...,4,£33.34
7,The Coming Woman: A Novel Based on the Life of...,3,£17.93
8,The Boys in the Boat: Nine Americans and Their...,4,£22.60
9,The Black Maria,1,£52.15
10,"Starving Hearts (Triangular Trade Trilogy, #1)",2,£13.99
11,Shakespeare's Sonnets,4,£20.66
12,Set Me Free,5,£17.46
13,Scott Pilgrim's Precious Little Life (Scott Pi...,5,£52.29
14,Rip it Up and Start Again,5,£35.02
15,Our Band Could Be Your Life: Scenes from the A...,3,£57.25
16,Olio,1,£23.88
17,Mesaerion: The Best Science Fiction Stories 18...,1,£37.59
18,Libertarianism for Beginners,2,£51.33
19,It's Only the Himalayas,2,£45.17

In [96]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

final = pd.DataFrame()

# Iterate through pages 1 to 50
for j in range(1, 51):
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36',
        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8',
        'Accept-Language': 'en-US,en;q=0.9',
        'Referer': 'https://www.google.com/'
    }

    # Form the URL for each page
    url = 'https://books.toscrape.com/catalogue/page-{}.html'.format(j)
    response = requests.get(url, headers=headers).text
    
    # Parse the response with BeautifulSoup
    soup = BeautifulSoup(response, 'lxml')

    # Find all book elements
    books = soup.find_all('article', class_='product_pod')

    # Data to be stored for the current page
    titles = []
    ratings = []
    prices = []

    # Rating map for converting to numeric ratings
    rating_map = {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

    # Extract data for each book on the page
    for i in books:
        titles.append(i.h3.a['title'])

        r_tag = i.find('p', class_='star-rating')
        rating = r_tag['class'][1]
        ratings.append(rating_map[rating])

        p_tag = i.find('p', class_='price_color')
        prices.append(p_tag.text.lstrip('Â'))  # Remove unwanted characters from price

    # After collecting data for all books on the page, create a DataFrame for the page
    page_df = pd.DataFrame({
        'title': titles,
        'rating(out of 5)': ratings,
        'price': prices
    })

    # Append the page DataFrame to the final DataFrame
    final = pd.concat([final, page_df], ignore_index=True)

# Display the final DataFrame after scraping all pages
final

,title,rating(out of 5),price
0,A Light in the Attic,3,£51.77
1,Tipping the Velvet,1,£53.74
2,Soumission,1,£50.10
3,Sharp Objects,4,£47.82
4,Sapiens: A Brief History of Humankind,5,£54.23
...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,1,£55.53
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",4,£57.06
997,A Spy's Devotion (The Regency Spies of London #1),5,£16.97
998,1st to Die (Women's Murder Club #1),1,£53.98
999,"1,000 Places to See Before You Die",5,£26.08

In [98]:
final.shape

(1000, 3)

In [100]:
final.to_csv('book_listing_scrape.csv')