In [2]:
import numpy as np
import pandas as pd

In [12]:
#merge dataframes

delivery= pd.read_csv('deliveries.csv')
match= pd.read_csv('matches.csv')

new= delivery.merge(match, left_on='match_id', right_on='id')

In [14]:
print(delivery.shape)
print(match.shape)

(150460, 21)
(636, 18)

In [20]:
new.groupby(['season','batsman'])['batsman_runs'].sum()

season  batsman
2008    A Chopra              42
        A Kumble              13
        A Mishra              37
        A Mukund               0
        A Nehra                3
                            ...
2017    Washington Sundar      9
        YK Pathan            143
        YS Chahal             13
        Yuvraj Singh         252
        Z Khan                 4
Name: batsman_runs, Length: 1531, dtype: int64

In [22]:
type(new.groupby(['season','batsman'])['batsman_runs'].sum()) #multi index series

pandas.core.series.Series

In [24]:
new.groupby(['season','batsman'])['batsman_runs'].sum().reset_index() #reset index-> series to dataframe

      season            batsman  batsman_runs
0       2008           A Chopra            42
1       2008           A Kumble            13
2       2008           A Mishra            37
3       2008           A Mukund             0
4       2008            A Nehra             3
...      ...                ...           ...
1526    2017  Washington Sundar             9
1527    2017          YK Pathan           143
1528    2017          YS Chahal            13
1529    2017       Yuvraj Singh           252
1530    2017             Z Khan             4

[1531 rows x 3 columns]

In [26]:
new.groupby(['season','batsman'])['batsman_runs'].sum().sort_values(ascending=False)

season  batsman
2016    V Kohli        973
        DA Warner      848
2013    MEK Hussey     733
2012    CH Gayle       733
2013    CH Gayle       720
                      ...
2017    MM Patel         0
2012    AC Blizzard      0
2011    AB Dinda         0
2017    AD Nath          0
2008    L Balaji         0
Name: batsman_runs, Length: 1531, dtype: int64

In [28]:
new.groupby(['season','batsman'])['batsman_runs'].sum().sort_values(ascending=False).reset_index()

      season      batsman  batsman_runs
0       2016      V Kohli           973
1       2016    DA Warner           848
2       2013   MEK Hussey           733
3       2012     CH Gayle           733
4       2013     CH Gayle           720
...      ...          ...           ...
1526    2017     MM Patel             0
1527    2012  AC Blizzard             0
1528    2011     AB Dinda             0
1529    2017      AD Nath             0
1530    2008     L Balaji             0

[1531 rows x 3 columns]

In [36]:
new.groupby(['season','batsman'])['batsman_runs'].sum().sort_values(ascending=False).reset_index().drop_duplicates(subset= 'season',keep='first').sort_values('season')[['season','batsman']]

    season       batsman
10    2008      SE Marsh
14    2009     ML Hayden
9     2010  SR Tendulkar
11    2011      CH Gayle
3     2012      CH Gayle
2     2013    MEK Hussey
6     2014    RV Uthappa
17    2015     DA Warner
0     2016       V Kohli
7     2017     DA Warner